<a href="https://colab.research.google.com/github/Nicolas-Taylor/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Nicolas_Taylor_LS_DS14_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
#Changes the "created" column into datetime format to just show months

df['created'] = pd.to_datetime(df['created'])

In [0]:
df['created'] = df['created'].dt.month

In [6]:
df['created'].value_counts()

6    16973
4    16217
5    15627
Name: created, dtype: int64

In [0]:
#Creates a new dataframe for just data from april and may

train = df[ (df['created'] == 5) | (df['created'] == 4)]

In [0]:
#Creates a new dataframe for just june

test = df[df['created'] == 6]

In [9]:
train.head()

   bathrooms  bedrooms  ...  wheelchair_access common_outdoor_space
2        1.0         1  ...                  0                    0
3        1.0         1  ...                  0                    0
4        1.0         4  ...                  0                    0
5        2.0         4  ...                  0                    0
6        1.0         2  ...                  0                    0

[5 rows x 34 columns]

In [10]:
#Creates a new column for outdoors, which includes all outdoor areas

train['outdoors'] = train['roof_deck'] + train['outdoor_space'] + train['balcony'] + train['garden_patio'] + train['common_outdoor_space'] + train['terrace']
test['outdoors'] = test['roof_deck'] + test['outdoor_space'] + test['balcony'] + test['garden_patio'] + test['common_outdoor_space'] + test['terrace']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#Creates a new column "total_rooms" which includes all rooms added together

train['total_rooms'] = train['bedrooms'] + train['bathrooms']
test['total_rooms'] = test['bedrooms'] + test['bathrooms']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
train.head()

   bathrooms  bedrooms  created  ... common_outdoor_space outdoors  total_rooms
2        1.0         1        4  ...                    0        0          2.0
3        1.0         1        4  ...                    0        0          2.0
4        1.0         4        4  ...                    0        0          5.0
5        2.0         4        4  ...                    0        0          6.0
6        1.0         2        4  ...                    0        0          3.0

[5 rows x 36 columns]

In [0]:
#Selects features to use for our prediction, and sets the target/dependent

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
model = LinearRegression()
features = ['total_rooms', 'outdoors']
target = ['price']
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [29]:
#Fits the model

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#Shows our train predictions

y_train_pred = model.predict(X_train)
y_train_pred

array([[2918.85570721],
       [2918.85570721],
       [5296.85819435],
       ...,
       [2918.85570721],
       [2126.1882115 ],
       [3711.52320293]])

In [16]:
#Gets the average difference between the predictions and the actual prices
mae = mean_absolute_error(y_train, y_train_pred)
mae

886.3848308995907

In [17]:
#Shows the baseline of mean of prices in the original dataframe
guess = df['price'].mean()
nofg = [guess] * len(df['price'])
nofmean = mean_absolute_error(df['price'], nofg)
nofmean

1201.532252154329

In [18]:
#Prints out the coefficients and the intercept
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_[0], features)
print(coefficients.to_string())

Intercept [1333.52071579]
total_rooms    792.667496
outdoors       168.205062

In [0]:
from sklearn.metrics import mean_squared_error, r2_score

In [0]:
train_mse = mean_squared_error(train['price'], y_train_pred)

In [32]:
train_RMSE = np.sqrt(train_mse)
train_RMSE

1332.2530735116404

In [33]:
r2_train = r2_score(train['price'], y_train_pred)
r2_train

0.4283793488077793

In [34]:
#Predicts the price for the test data and gets the mean absolute error
#For the test data and predictions

y_test_pred = model.predict(X_test)
test_mae = mean_absolute_error(y_test, y_test_pred)
test_mae

899.2541521421085

In [25]:
test_mse = mean_squared_error(test[target], y_test_pred)
test_RMSE = np.sqrt(test_mse)
test_RMSE

1328.5756408220739

In [26]:
r2_test = r2_score(test[target], y_test_pred)
r2_test

0.4320781354867107